# Ignore everything
*

# But not these files...
!.gitignore
!tomEEprojekti/src/jdbcharkat/*
!JPAharkat/src/*
!JPAharkat/src/*/*
!JSPharkat/src/*/*
!JSPharkat/WebContent/*

# ...even if they are in subdirectories
!*/